/* Estilos básicos del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos del encabezado */
header {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos del contenido principal */
main {
    max-width: 800px;
    width: 90%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos de las secciones */
section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

/* Estilos de los inputs y botones */
input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

a {
    color: white;
    text-decoration: none;
}

.button-container {
    text-align: center;
}

/* Estilos de la lista */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}
