/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c9d0f7, #88b5f0);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
    
}

h1 {
    font-size: 1.8em;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section {
    background-color: skyblue;    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.input-group {
    margin-bottom: 20px;
}

p {
    margin: 0 0 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    position: relative;
}

button {
    background-color: Blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: rgba(16, 6, 148, 0.61);
}

.respuesta {
    margin-top: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 4px;
}
