/* estilo.css */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(to bottom right, #f7f4f6, #000000);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #24864e; /* Un color verde alegre */
    font-size: 4em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: #8516b9b4;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin: 10px 0;
}

button {
    background-color: #ff6347; /* Un color de botón vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #ff4500; /* Un color más oscuro cuando el ratón pasa sobre el botón */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.respuesta {
    margin-top: 20px;
    font-size: 1.2em;
    color: #4682b4; /* Un color azul para el texto de la respuesta */
}
